body {
    background: white !important;
}

.container {
    display: flex;
    width: 100%;
}

.main-content {
    text-align: center;
    width: 100%;
    background-color: antiquewhite;
    padding: 10px;
}