

body {
    background: white !important;
}

.container {
    display: flex;
    width: 100%;
}

.main-content {
    text-align: center;
    width: 80%;
    padding: 10px;
}

.footer {
    height:10%;
    position: absolute;
    width: 100%;
}