.hook-line {
    background: url("http://www.logiudicecustomknives.com/knifeshop/images/IMG_5625-1800.jpg") no-repeat center center;
    margin: 20px 0px 20px 0px;
    background-size: contain;
    height: 500px;
    text-align: center;
    font-size: 100px;
    padding: 200px 0px 0px 0px;
    color: red;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}

.job-list {
    margin: 10px 20px 10px 20px;
    text-align: center;
    font-size: 40px;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    
}