.white-app-bar {
    height: 75px;
    border-bottom: 1 solid #FF9100;
    margin-bottom: 10px;
    position: fixed;
    left: 0;
    top: 0;
}

.logo {
	background-color: none !important;
	height: 200px;
	width: 200px;
	position: absolute;
	top: -75%;
	left: 0%;
	

}